* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 96px; */
  font-size: min(30vh, 30vw);
  font-weight: 900;
  color: #11111b;
}

#box4 {
  height: 100vh;
  width: 100vw;
  background-color: #313244;
}

#box1 {
  /* height: 500px;
    width: 500px; */
  height: min(60vh, 60vw);
  width: min(60vh, 60vw);
  background-color: #f38ba8;
}

#box2 {
  /* height: 500px;
    width: 500px; */
  height: min(60vh, 60vw);
  width: min(60vh, 60vw);
  background-color: #a6e3a1;
}

#box3 {
  /* height: 400px;
    width: 400px; */
  height: min(50vh, 50vw);
  width: min(50vh, 50vw);
  background-color: #74c7ec;
}
