<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./tailwindcss-v4.js"></script>
    <style type="text/tailwindcss"></style>
    <link rel="stylesheet" href="./style.css" />
    <title>Question X</title>
  </head>

  <body class="h-screen w-screen bg-slate-50 text-slate-900 overflow-hidden">
    <div class="flex items-center justify-center h-screen">
      <div class="w-16 h-16 bg-brand rounded"></div>
    </div>
  </body>
</html>
