* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

#div1 {
  width: 300px;
  height: 300px;
  padding: 20px 20px 20px 20px;
  font-size: 24px;
  background-color: white;
  border-radius: 0px;
  box-shadow: 6px 6px 0 0 black;
}

#box {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url(andriyko-podilnyk-RCfi7vgJjUY-unsplash.jpg);
  background-size: cover;
}
