body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Inter, sans-serif;
  gap: 10px;
  background-color: white;
}

#btn1 {
  background-color: chocolate;
  width: 200px;
  height: 40px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 3px 3px 1px rgba(0, 0, 0, 0.5);
}
