#div1 {
  width: 300px;
  height: 300px;
  background-color: orange;
  margin: 10px 10px 10px 10px;
  padding: 50px 50px 50px 50px;
  font-size: 24px;
}

* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

#box {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
