#div1 {
  width: 300px;
  height: 300px;
  background-color: orange;
  margin: 50px 10px 10px 50px;
  padding: 50px 50px 50px 50px;
  font-size: 24px;
}

* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}
